.testimonials {
  background-color: #fff;
  padding: 120px 0;
  h6 {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0db3c7;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.avatar {
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;
}
.avatarName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  h6 {
    font-size: 18px;
    color: #040c2c;
    margin: 0;
    margin-bottom: 5px;
  }
  span {
    font-size: 13px;
    color: #677294;
    line-height: 12px;
  }
}
