.nav {
  padding: 0px 15px;
  background-color: aquamarine;
  box-shadow: 0px 0px 5px #0000006b;
  display: flex;
  justify-content: center;
  .navWraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
  }
  .logo {
    max-width: 150px;
    max-height: 50px;
    img {
      width: 100%;
      display: block;
    }
  }
}
