.hero {
  position: relative;
  height: 950px;
  z-index: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: -84px;
  span {
    color: #0db3c7;
    font-weight: 900;
    position: relative;
  }
  .heroImage {
    position: absolute;
    top: -2px;
    height: 100%;
    width: auto;
    right: 0;
    z-index: -1;
  }
}
