.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 25px;

  li {
    margin-left: 35px;
    a {
      text-transform: capitalize;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .pages {
    li {
      margin-left: 0px;
      margin-bottom: 25px;
      a {
        text-transform: capitalize;
        color: red;
      }
    }
  }
}
