.pageHeader {
  background-color: #00a6b6;
  padding: 0px 25px;
  padding-top: 174px;
  padding-bottom: 100px;
  margin-top: -74px;

  h1 {
    font-size: calc(12px + 1.8vw);
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
}

.section {
  padding: 50px 25px;
  box-sizing: border-box;
  height: 100%;
}
