.services {
  background-color: #fafafa;
  padding: 120px 0;
  h6 {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0db3c7;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
